<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>STEVLTH ToDo list</title>
    <link rel="stylesheet" href="./main.css">
</head>
<body>

<div class="header">
    <div class="wrapper">
        <h1 class="caption">STEVLTH ToDo v0.000001</h1>
    </div>
</div>

<div class="todo-body">
    <div class="wrapper">

        <div class="todo-add">
            <input type="text" name="todo-input-name" id="" class="todo-input-name" placeholder="Enter an item name">
            <button class="todo-add-button">ADD</button>
        </div>

        <ul class="todo-list">
            <li  class="todo-list-item">
                <input type="checkbox" id="todo-checkbox-1" value="todo-checkbox-1" class="todo-checkbox">
                <label for="todo-checkbox-1" class="todo-item-name">Wakeup bitch!</label>
                <button class="todo-edit-button"></button>
                <button class="todo-remove-button"></button>
            </li>
            <li  class="todo-list-item">
                <input type="checkbox" id="todo-checkbox-2" value="todo-checkbox-2" class="todo-checkbox" checked>
                <label for="todo-checkbox-2" class="todo-item-name">Lorem ipsum dolor sit amet.</label>
                <button class="todo-edit-button"></button>
                <button class="todo-remove-button"></button>
            </li>
            <li  class="todo-list-item">
                <input type="checkbox" id="todo-checkbox-3" value="todo-checkbox-3" class="todo-checkbox">
                <label for="todo-checkbox-3" class="todo-item-name">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore ea exercitationem ipsa necessitatibus obcaecati odit officiis qui reprehenderit sed!</label>
                <button class="todo-edit-button"></button>
                <button class="todo-remove-button"></button>
            </li>
        </ul>

    </div>
</div>

</body>
</html>