/*CSS RESET*/

*
{
    margin: 0;
    padding: 0;
}

/* BODY */

body {
    background: #222;
    font-family: "Roboto Thin";
    color: white;
}

.wrapper {
    width: 960px;
    margin:0 auto;
}

/* HEADER */

.header {
    background: darkorange;
}

h1 {
    padding: 20px 0 20px 0;
}

/* ADD TODO ITEM */

.todo-add {
    display: flex;
    align-content: center;
    padding: 60px 0 30px 0;
}

.todo-input-name {
    border: none;
    border-left-style: inset;
    border-left-style: solid;
    border-left-color: darkorange;
    border-left-width: 0;
    color: white;
    font-size: 18px;
    background-color: #444;
    width: 100%;
    padding: 15px 20px;
    transition-duration: 0.5s;
}

.todo-input-name:hover {
    background-color: #555;
    border-bottom-color: darkorange;
    border-left-width: 4px;
    padding-left: 16px;
    /*padding-bottom: 11px;*/
}

.todo-input-name::placeholder {
    color: darkgray;
}

.todo-input-name:focus {
    color: white;
    border-bottom-color: darkorange;
    border-left-width: 4px;
    padding-left: 16px;
    outline: none;
}

.todo-add-button {
    margin-left: 10px;
    background-color: #444; /* Green */
    border: none;
    color: white;
    padding: 16px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.5s;
}

.todo-add-button:focus {
    background-color: darkorange;
    outline: none;
}

.todo-add-button:hover {
    border: none;
    background-color: darkorange;
    padding: 16px 70px;
    cursor: pointer;
}

.todo-add-button:active {
    border: none;
    background-color: #333;
    transition-duration: 0.1s;
}

/* TODO LIST */

.todo-list {
    list-style: none;
}

.todo-list-item {
    display: flex;
    align-items: center;
    border-bottom-color: #444;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding: 0 20px;
    transition-duration: 0.5s;
}

.todo-list-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.todo-checkbox {
    display: none;
    z-index: -1;
    opacity: 1;
}

.todo-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.todo-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 4px solid #444;
    border-radius: 16px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    transition-duration: 0.5s;
}

.todo-checkbox:hover+label::before {
    border-color: darkorange;
}

.todo-checkbox:checked+label::before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23ff9900' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.todo-checkbox:checked+.todo-item-name {
    color: darkgray;
    text-decoration-color: darkgray;
    text-decoration-line: line-through;
}

.todo-item-name {
    text-decoration-style: solid;
    text-decoration-color: gray;
    width: 100%;
    font-size: 20px;
    align-self: center;
    flex-shrink: 1;
    padding: 20px 0;
    cursor: pointer;
    transition-duration: 0.5s;
}

.todo-edit-button,
.todo-remove-button {
    position: relative;
    overflow: hidden;
    background-color: rgba(20, 20, 20, 0);
    height: 40px;
    width: 40px;
    flex-shrink: 0;
    border: none;
    margin-left: 10px;
    transition-duration: 0.5s;
}

.todo-remove-button:before, .todo-edit-button:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 200%;
    height: 200%;
    left: -50%;
    top: -50%;
    background-color: #444;
    background-size: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3e%3cpath fill='%23222' d='M15 1.4L13.6 0 7.5 6.1 1.4 0 0 1.4l6.1 6.1L0 13.6 1.4 15l6.1-6.1 6.1 6.1 1.4-1.4-6.1-6.1z'/%3e%3c/svg%3e");
    transition-duration: 0.5s;
}

.todo-edit-button:before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17.6 17.6'%3e%3cpath fill='%23222' d='M4.9 15.4l-2.8-2.8L.7 14 0 17.6l3.5-.8zM11.3 3.45l2.83 2.82-8.48 8.49-2.83-2.83zM17 .6c.8.8.8 2 0 2.8l-2.1 2.1L12 2.7 14.1.6c.8-.8 2.1-.8 2.9 0z'/%3e%3c/svg%3e");
}

.todo-remove-button:hover:before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3e%3cpath fill='%23ff9900' d='M15 1.4L13.6 0 7.5 6.1 1.4 0 0 1.4l6.1 6.1L0 13.6 1.4 15l6.1-6.1 6.1 6.1 1.4-1.4-6.1-6.1z'/%3e%3c/svg%3e");
    transform: rotate(180deg);
}

.todo-edit-button:hover:before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17.6 17.6'%3e%3cpath fill='%23ff9900' d='M4.9 15.4l-2.8-2.8L.7 14 0 17.6l3.5-.8zM11.3 3.45l2.83 2.82-8.48 8.49-2.83-2.83zM17 .6c.8.8.8 2 0 2.8l-2.1 2.1L12 2.7 14.1.6c.8-.8 2.1-.8 2.9 0z'/%3e%3c/svg%3e");
    transform: rotate(180deg);
}

.todo-remove-button:focus, .todo-edit-button:focus {
    outline: none;
}

.todo-remove-button:hover, .todo-edit-button:hover {
    border: none;
    cursor: pointer;
}

.todo-remove-button:active:before, .todo-edit-button:active:before {
    border: none;
    background-color: #333;
    transition-duration: 0.1s;
}
