/*CSS RESET*/

*
{
    margin: 0;
    padding: 0;
}

/* BODY */

body {
    background: #222;
    font-family: "Roboto Thin";
    color: white;
}

.wrapper {
    width: 960px;
    margin:0 auto;
}

/* HEADER */

.header {
    background: darkorange;
}

h1 {
    padding: 20px 0 20px 0;
}

/* Add ToDo item */

.todo-add {
    display: flex;
    align-content: center;
    padding: 60px 0 30px 0;
}

.todo-input-name {
    width: 100%;
    padding: 15px;
}

.todo-add-button {
    width: 200px;
    margin-left: 20px;
}