@import "./normalize";

@import "variables";

@import "./mixins";

@import "./particles/header";
@import "./particles/search-form";
@import "./particles/todo-list";
@import "./particles/footer";

// just for fun
@import "animations/effect-background-noise";
@import "animations/effect-glitch";



body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    font-family: 'Jura', sans-serif;
    font-weight: 300;
    background: $color-bg;
    color: $color-text--main;

    animation: 2s ease fade-in;
}

.main-content {
    @include wrapper();

    flex: auto;
}