@import "../variables";
@import "../mixins";



.footer {
  @include wrapper();

  flex: 0 0 auto;
}

.app-version {
  padding-bottom: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: $color-text--watermark;
}